# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
gradient_front/node_modules
gradient_front/.pnp
.pnp.js

# testing
gradient_front/coverage

# production
gradient_front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#django
.venv
.idea
*.sqlite3
*.pyc
GradientRestApi/GradientRestApi/__pycache__

